.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 10rem;
  align-items:center;
  background-color: rgb(29, 17, 87);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.responsive{
  display: none;
}


.logo {
  margin-bottom: 0 !important;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: rgb(222, 221, 228);
}

.itens{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.item {
  color: white;
  max-height: 2.5rem;
}


.link:hover {
  color: rgb(222, 221, 228);
}

.link{
  text-decoration: none;
  color: white;
}



.my-btn {

  background-color: white !important;
  margin-left: 0 !important;
  width: 3rem;
  min-width: 30px;
  height: auto;
  border: none;
  background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
  background-position: center;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0;


}

.my-input-text {
  border-bottom-left-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
  height: 70%;
  border: none;
  border-right: 0;
  margin-right: 0;
  padding: 0.3rem;
  padding-left: 1rem;
  font-size: 0.8rem;
  

}

.my-input-group {
  width: 40%;
  
 
}



@media screen and (max-width: 760px) {

  .no-responsive{
    display: none;
  }

  .responsive{
    display: contents;
  }


  .my-toggle {
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 2.5rem;
    width: 2.5rem;

  
  }
  
  div .link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    display:inline-block;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul .item {display: inline-block;}
  ul .item:hover {background: rgb(109, 17, 17,0);}
  ul .item:hover ul {display: block;}
  ul .item ul {
    position: absolute;
    width: auto;
    display: none;
  }
  ul .item ul li { 
    background: rgb(29, 17, 87); 
    display: block; 
    
  }
  ul .item ul li a {display:block !important;} 
  ul .item ul li:hover {background: rgb(222, 221, 228);}
  ul .item ul li:hover a:hover{color: black;}
  .my-input-text{
    font-size: 10px;
    margin-right: 0;
  }
  
  .my-input-group{
    width: auto;
  }
  .divli{
    padding: 1rem 0rem;
  }
  
  


}

